<form>
    <div class="Personal-account__form">
        <div class="Form__error" id="error"></div>
        <div class="Personal-account__form-left">
            <div class="Personal-account__input-wrapper">
                {{{inputFirstName}}}
            </div>
            <div class="Personal-account__input-wrapper">
                {{{inputLastName}}}
            </div>
            <div class="Personal-account__input-wrapper">
                {{{inputEmail}}}
            </div>
        </div>
        <div class="Personal-account__form-right">
            <div class="Personal-account__input-wrapper">
                {{{inputPassword}}}
            </div>
            <div class="Personal-account__input-wrapper">
                {{{inputPasswordDouble}}}
            </div>
            <div class="Personal-account__button-wrapper">
                {{{submitButton}}}
            </div>
        </div>
    </div>
</form>