<form>
    <h1>Регистрация</h1>
    <div class="Sign-up__input-wrapper">
        {{{inputFirstName}}}
    </div>
    <div class="Sign-up__input-wrapper">
        {{{inputLastName}}}
    </div>
    <div class="Sign-up__input-wrapper">
        {{{inputLogin}}}
    </div>
    <div class="Sign-up__input-wrapper">
        {{{inputEmail}}}
    </div>
    <div class="Sign-up__input-wrapper">
        {{{inputPassword}}}
    </div>
    <div class="Sign-up__input-wrapper">
        {{{inputPasswordDouble}}}
    </div>
    <div class="Sign-up__button-wrapper">
        {{{submitButton}}}
        <div class="Form__error" id="error"></div>
    </div>
</form>