<div class="Navbar">
    <div class="Navbar__item">
        {{{mainButton}}}
    </div>
    <div class="Navbar__items-wrapper">
        <div class="Navbar__item">
            {{{chatButton}}}
        </div>
        <div class="Navbar__item">
            {{{loginButton}}}
        </div>
        <div class="Navbar__item">
            {{{signUpButton}}}
        </div>
        <div class="Navbar__item">
            {{{profileButton}}}
        </div>
    </div>
</div>